.footer {
  margin-top: 220px;
  padding: 1rem;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  position: relative;
  min-height: 200px;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* .logo {
  font-size: 2rem;
  color: white;
} */

.ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.ul li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.ul a {
  text-decoration: none;
  color: #f3f1f1;
}

.ul a:hover,
.ul a:active,
.ul a.active {
  animation: bounce;
  animation-duration: 2s;
  color: #ca9e27;
}

.h5 {
  margin-top: 50px;
  text-align: right;
  color: white;
}

@media screen and (max-width: 700px) {
  .ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 200px;
  }
  .h5 {
    text-align: center;
  }
}
